.header{
    height: 250px;
    width: 100vw;
}


.header-image{
    height: 250px;
    width: 100vw;
    object-fit: cover;
}

.logo{
    position: absolute;
    z-index: 1;
    margin-top: 0;
    top: 15px;
}

.header_img {
    height: 250px;
    width: 100vw;
    object-fit: cover;
}