@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

.navbar {
    height: 4rem;
    width: 100vw;
    background-color: #6d6875;
    opacity: 90%;
    position: sticky;
    top:0;
    left:0;
    font-family: "Krona One", sans-serif;
  }

  .navmenu {
    display: grid;
    grid-template-columns: auto auto; 
    font-size: 12px;
}

.navigation {
  grid-column-start: 2;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
  .user {
    grid-column-start: 1;
    font-size: 12px;
    color: #c5c3c6;
    width:100%;
    margin-left: 15px;
    justify-content: flex-start;
    margin-top: 3rem;
  }

  .allwines{
    text-decoration: none;
    margin: 3rem 15px 0 0;
    color: white;
}

.profile{
    text-decoration: none;
    margin: 3rem 15px 0 0;
    color: white;
}

.navlogin{
    text-decoration: none;
    margin: 3rem 15px 0 0;
    color: white;
}

.navregister{
    text-decoration: none;
    margin: 3rem 15px 0 0;
    color: white;
}

  .signout {
    text-decoration: none;
    color:white;
    margin: 3rem 15px 0 0;
  }

 

