.profile-page{
    margin: 75px 75px 75px 75px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(5 auto);
    width: 80%;
}

.user-details{
    grid-row-start: 1;
    grid-column-start: 2;
    height: 125px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

.profile_pic {
    grid-column-start: 1;
    grid-row-start: 1;
}

.user-wine-list{
    grid-row-start: 2;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add_wine_button {
    width: 150px;
}

a {
    text-decoration: none;
    color: black;
}

.wine-list{
    font-size: 24px;
}

.user-wish-list {
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
}

.wish-list {
    font-size: 24px;
}