.loginpage {
    margin-top: 175px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.login-text {
    margin: 0 50px 0 25px;
}

.login-header {
font-size: 24px;
}

.register-header {
font-size: 14px;
}

.register-link {
font-size: 14px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


