.footer {
    width: 100vw;
    height: 50px;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #46494c;
    margin-top: 50px;
    }
      
 .icon-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    
.linkedin_icon{
    margin-right: 10px;
    }

.github_icon {
    margin-right: 10px;
    }