.wine_page{
    width: 80vw;
    margin: 0 10vw 0 10vw;
}

.wines_table_header {
    display: grid;
    grid-template-columns: 100px 275px 100px 160px 125px 125px 125px;
    grid-template-rows: repeat(1, auto);
    text-align: center;
    margin-left: 25px;
    width: 80vw;
}

.wines {
    display: grid;
    grid-template-columns: 100px 275px 100px 160px 125px 125px 125px;
    grid-template-rows: repeat(1, auto);
    text-align: center;
}

.vintage {
    grid-column-start: 1;
}

.wine_name {
    grid-column-start: 2;
}

.category {
    grid-column-start: 3;
}

.variety {
    grid-column-start: 4;
}


/* Media queries */
@media only screen and (max-width: 800px) {
    .wines_table_header {
        display: flex;
        justify-content: space-between;
        margin: 0 10vw 0 10vw;
        width: 80vw;
    }
}

